.content {
    padding-bottom: 35px;
    transition: ease-in-out, .3s;
}

.content.menu-open {
    padding-bottom: 330px;
    transition: ease-in-out, .3s;
}

.error {
    height: 300px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    font-family: 'pkmn', Arial, sans-serif;
    text-align: center;
}

.error p:nth-child(2) {
    color: grey;
    font-size: 10pt;
}

.searchbar {
    width: 400px;
    height: 25px;
    margin: 5px auto 15px;

    display: block;

    font-size: 16px;
}

/* #region TABS */
.tabs {
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;

    display: flex;
    flex-flow: row wrap;
    gap: 5px;

    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;

    font-family: 'pkmn', Arial, sans-serif;

    background-color: #181818;
    border: 2px solid #333333;
    border-bottom: 0;
    border-radius: 20px 20px 0 0;

    transition: ease-in-out, 300ms;
}

.tabs.closed {
    transform: translateY(100%);
}

.tabs .toggle {
    width: 100px;
    height: 40px;
    margin: auto;

    position: absolute;
    top: -43px;
    left: 0;
    right: 0;

    font-size: 16pt;
    line-height: 40px;
    text-align: center;

    background-color: #181818;
    border: 2px solid #333333;
    border-bottom-color: #181818;
    border-radius: 10px 10px 0 0;

    cursor: pointer;
    user-select: none;
}

.tabs .toggle:hover {
    background-color: #333333;
    border: 2px solid white;
}

.tab {
    height: 30px;
    padding: 0 10px;

    flex-grow: 1;

    font-size: 10pt;
    line-height: 35px;
    text-align: center;

    color: white;
    text-decoration: none;
    border-radius: 15px 0;

    background-color: #222222;
    border: 2px solid #333333;

    cursor: pointer;
    user-select: none;
}

.tab.active {
    background-color: #181818;
    border: 2px solid #222222;
}

.tab:hover {
    background-color: #333333;
    border: 2px solid white;
}

.tab.active0 {
    background-color: rgb(50, 0, 0);
    border: 2px solid rgb(200, 0, 0);
}

.tab.active0:hover {
    background-color: rgb(150, 0, 0);
    border: 2px solid white;
}

.tab.active1 {
    background-color: rgb(0, 0, 50);
    border: 2px solid rgb(0, 0, 200);
}

.tab.active1:hover {
    background-color: rgb(0, 0, 150);
    border: 2px solid white;
}

.tab.active2 {
    background-color: rgb(0, 50, 0);
    border: 2px solid rgb(0, 200, 0);
}

.tab.active2:hover {
    background-color: rgb(0, 150, 0);
    border: 2px solid white;
}
/* #endregion */

/* #region PKMN */
.pkmn-container {
    width: 95%;
    max-width: 1200px;
    /* max-width: 1750px; */
    margin: 0 auto;

    display: flex;
    flex-flow: row wrap;
    gap: 25px;
    justify-content: center;
}

.pkmn {
    position: relative;
    width: 250px;
    height: 325px;

    background-color: #181818;
    border: 2px solid #333333;
    border-radius: 10px;
    
    font-family: 'pkmn', Arial, sans-serif;
}

.pkmn:hover {
    border-color: white;
}

.pkmn .image {
    width: 128px;
    aspect-ratio: 1;
    margin: 10px 61px;

    background-color: white;
    border-radius: 10px;
}

.pkmn .image img {
    width: 100%;
    height: 100%;

    color: #111111;

    image-rendering: pixelated;
    filter: drop-shadow(2px 2px 2px rgba(34, 34, 34, 0.75));
}

.pkmn .info {
    width: 230px;
    height: 167px;
    margin: 0 10px 0 10px;

    line-height: 10pt;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.pkmn .types {
    position: absolute;
    top: 0;
    left: 0;

    margin: 10px;
    
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.pkmn .types img {
    width: 30px;
    aspect-ratio: 1;
}

.pkmn .dexnum {
    position: absolute;
    top: 0;
    right: 0;

    margin: 10px;
    font-size: 6pt;
}

.pkmn .name {
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 10pt;
}

.pkmn .size, .pkmn .abilities {
    font-size: 7pt;
}

.pkmn .abilities {
    transform: translateX(10px);
}

.pkmn .ability-container .title {
    font-size: 9pt;
    color: grey;
}

.pkmn .stat-table {
    width: 100%;
}

.pkmn .stat-table th {
    font-weight: 100;
    font-size: 8pt;
    color: grey;
}

.pkmn .stat-table td {
    font-size: 7pt;
    text-align: center;
}
/* #endregion */

/* #region PAGE NAVIGATION */
.navigation {
    width: auto;
    height: 60px;
    margin: 10px auto;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    gap: 7px;
}

.page-button, .arrow-button, .side-button {
    width: auto;
    min-width: 40px;
    height: 40px;
    
    font-size: 12pt;
    font-family: 'pkmn', Arial, sans-serif;
    line-height: 40px;
    text-align: center;
    color: white;

    background-color: #181818;
    border: 2px solid #333333;
    border-radius: 5px;

    cursor: pointer;
    user-select: none;
}

.page-button.current {
    color: grey;
    border: 2px solid grey;
}

.page-button:hover, .arrow-button:hover, .side-button:hover {
    background-color: #333333;
    border: 2px solid white;
}

.side-button-container {
    height: 100px;
    width: 100px;

    position: fixed;
    top: 50%;
    transform: translateY(-50%);

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    gap: 7px;
}

.side-button-container.back {
    left: 0px;
}

.side-button-container.next {
    right: 0px;
}

.side-button {
    width: 80px;
    height: 80px;

    font-size: 18pt;
    line-height: 80px;
}

.side-button.hidden {
    display: none;
}
/* #endregion */

/* #region MOBILE STYLING */
@media screen and (max-width: 480px) {
    .side-button-container {
        width: 60px;
    }

    .side-button {
        width: 40px;
    }
}
/* #endregion */

